/* Global settings */
body {
  font-family: 'Lato', sans-serif; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: #021526;
}

/* Styling for the main container */
.container {
  width: 450px;
  max-width: 500px;
  background-color: rgba(2, 21, 38, 0.85); 
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

/* Header styles */
h1 {
  font-size: 32px;
  color: #E2E2B6; /* Light khaki color for better contrast */
  margin-bottom: 30px;
  font-weight: 700; /* Bold font weight for headers */
}

/* Form styling */
.form-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  font-size: 16px;
  color: #6EACDA; /* Light blue for labels */
  text-align: left;
  margin-bottom: 5px;
}

input {
  width: 95%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #021526; /* Dark blue text color for inputs */
  background-color: #E2E2B6; /* Light khaki background for input fields */
}

/* Button styling */
button {
  width: 100%;
  padding: 12px;
  background-color: #03346E; /* Dark blue button background */
  color: #E2E2B6; /* Light khaki text color */
  border: none;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6EACDA; /* Light blue on hover */
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(2px);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
      width: 90%;
  }
}
